* {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

body {
    font-size: 14px;
}

button {
    cursor: pointer;
    outline:none;
    /*border:none;*/
}
.clearfix:after,.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
}

section {
    width: 1000px;
    margin: 0 auto;
}

header {
    padding: 10px;
}

header form {
    display: inline-block;
}

.input1 {
    width: 100px;
}

.btn {
    padding: 0 5px;
}

.btn1 {
    float: right;
}

/*wrap*/
.wrap {
    width: 100%;
    //overflow: hidden;
    position: relative;
}

.wrap .lside {
    float: left;
    width: 358px;
    height: 550px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #000;
    /*水平滚动条*/
    position:absolute;
    overflow:auto;
    
}

.wrap .item {
    padding: 5px 0;
    border-bottom: 1px solid #000;
}

.wrap .item-header {
    font-size: 18px;
}
.wrap .item-title{
    float: left;
    width:290px;
}
/*.wrap .item-body img {*/
    /*display: block;*/
    /*width: 200px;*/
    /*height: 50px;*/
    /*border: 1px solid #000;*/
/*}*/

.rside {
    width: 100%;
    height: 562px;
}
.rside .btn-preserve{
    position: absolute;
    top:0;
    right:0;
    z-index:9999;
}

#container {
    width: 620px;
    height: 100%;
    margin-left: 380px;
}

#bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1001;
    -moz-opacity: 0.9;
    opacity: .90;
    filter: alpha(opacity=90);
}

#show {
    display: none;
    position: absolute;
    top: 25%;
    left: 22%;
    width: 53%;
    //height: 49%;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    font-size:12px;
}

/*quit弹出层*/
.quit{
    float: right;
    font-size:14px;
    outline:none;
    background: #fff;
    border:none;
    cursor: pointer;
}
.show-header h3{
    float: left;
}

.show-body{
    min-height:50px;
}
.show-body input{
    width:70%;
}
.show-body>div{
    margin-bottom:10px;
}
.show-body .location input{
    width:100px;
}
.show-body .modify,.cancel,.preservation{
    float: right;
    margin-left:5px;
    //color:#fff;
}
/*.*/
/*background: cornflowerblue;*/
.show-footer{
    text-align: center;
}
.show-footer .btn-tj{
    padding:3px 10px;
    font-size:16px;
}
.hidden{
    display: none;
}













